@charset "utf-8";
/* CSS Document */

html { 
	height: 100%; 
}

body {
	font-family:Lato;
	margin:40px;
	height: 100%; 
}


.timepicker input {
	width: 80px;
} 

.fa-info-circle:hover {
	cursor: pointer !important;
}


th, tr {
	font-size:14px !important;
}

tr:hover {
	background-color:#69F !important;
	color:#FFF !important;
}

tr a:link, tr a:visited {
	color:#006699 !important;
	
}


tr:hover a:link, tr:hover a:visited {
	color:#FFF !important;
	
}

.active {
	background-color:#FFCB97 !important;
	
}

#header {
	width:100%;
	height:auto;
	overflow:hidden;
	margin-bottom:20px;
}

#logo {
	width:400px;
	float:left;
	
}


.alert {
	width:300px;
	padding:20px;
	background-color:#EFEFEF;
	border:1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color:#C00;
}



#tools {
	width:400px;
	float:right;
	padding:30px;
	background-color:#EFEFEF;
	border:1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}


#locations {
	height:auto;
	width:100%;
	overflow:hidden;
	margin-bottom:20px;
	padding:5px;
}


#map {
	position:relative;
	width:100%;
	height:60%;
}


.fa span {
	font-family:Lato;
}

.fa:hover {
	cursor:default;
}


.fa a:link, .fa a:visited {
	font-family:Lato !important;
	color:#000;
	text-decoration:none;
	
}

label {
	width:150px;
	float:left;
	
	
}
#login {
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	width:300px;
	height:200px;
	background-color:#EFEFEF;
	border:1px solid #0177bd;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#login label {
	width:220px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	padding:0px;
	font-weight:bold;
	float:none;
}

#login input[type="text"], #login input[type="password"] {
	width:220px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	
}


#login input[type="submit"] {
	border:none;
	color:#FFF;
	background-color:#0177bd;
	margin-top:20px;
	width:150px;
	height:30px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	font-weight:bold;
	
}


#login input[type="submit"]:hover {
	background-color: #000000;
}
