/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
html {overflow-y: scroll;}

body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.qtip-content {
	font-size: 16px;
	line-height: 20px;
}

#chart {
	display: none;
}

@media (min-width: 950px) {
	
	#chart {
		display: block;
		margin-top: 15px;
	}
	
}

h1.page-header {
	font-size: 22px;
}

h2.sub-header {
	font-size: 18px;
}

#reportrange {
	display: block;
	width: 100%;
	font-size: 12px;
	margin-bottom: 10px;
}

.topbuttons {
	display: none;
}

.fullview {
	display: none;
}

@media (min-width: 950px) {
	
	h1.page-header {
		font-size: 36px;
	}	
	
	h2.sub-header {
		font-size: 24px;
	}	
	
	#reportrange {
		display: inline;
		width: auto;
		font-size: 16px;
		margin-bottom: 0px;
	}
	
	.topbuttons {
		display:inline-block;
	}
	
	.fullview {
		display:table-cell;
	}	
}

.nounderline   {
	text-decoration: none !important;
}

.fa-question-circle:hover {
	cursor: pointer;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.leftnavactive {
	background-color: azure;
	border: 1px solid #D7D7D7;
}

select, input {
	margin: 0px;
	height: 20px;
} 

input.timepicker {
	width: 80px !important;
} 

.well h2, .well h3, .well h4 {
	margin-top: 0px;
}

.well h3 {
	margin-left: 20px;
}

.well h4 {
	margin-left: 40px;
}

#map {
	margin:30px;
	width:900px;
	height:600px;
}

.alert-success {
	padding:5px;
	
}

.fa-info-circle:hover {
	cursor: pointer !important;
}

.fa-plus-square:hover {
	cursor: pointer !important;
}

.fa-link:hover, .fa-chain-broken:hover, .fa-book:hover, .prodsales:hover, .goalset:hover , .goal_link:hover     {
	cursor: pointer !important;
}



.fa-table {
	margin-left: 15px !important;
}

.fa-table:hover {
	cursor: pointer !important;
	color: green;

}


.table-hover tr:hover:nth-child(odd)  {
	background-color:cornsilk;
	
}

.table-hover tr:hover:nth-child(even)  {
	background-color:cornsilk;
	
}


/*.btn-group .devicesetup {
	background-color:#F3F3F3;
	border-color: #F3F3F3;
	color:#A7A7A7;
}

.btn-group .active {
	background-color: red;
	border-color: red;
	color:#FFF;
}
*/
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar {
	background-color:#428bca;
}

.controlmenu {
	display: none;
}

.navbar-brand, .navbar-right, .mobilelogbuttons  {
	display: none;
}

.nav-list {
	
}

.nav-header {
	
	font-weight: bold;
	
}

@media (min-width: 768px) {
	.navbar-brand {
		color:#FFF !important;
		display: inline;
	}
	
	.mobilelogbuttons {
		display: inline-block;
	}
}


@media (max-width: 500px) {
	.controlmenu, .navbar-right {
		display: inline;
	}
}

.navbar li a {
	color:#FFF !important;	
}

@media (min-width: 768px) {

	.navbar li > ul > li a {
		color:#000 !important;	
	}
	
	

}

.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {

  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }

}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.siteconfig li
{
	font-size: 18px;

}


.treeview li
{
	font-size: 18px;

}

.treeview-icon
{
	width: 16px;
	height: 16px;

}
.icon-folder
{
	background-position: 0px 0px;
}
.icon-png
{
	background-position: -16px 0px;
}
.icon-txt
{
	background-position: -32px 0px;
}
.icon-pdf
{
	background-position: -48px 0px;
}
.icon-doc
{
	background-position: -64px 0px;
}
.icon-xls
{
	background-position: -80px 0px;
}