.clearfix {
	clear: both;
}
.hidden {
	visibility: hidden;
}
.container {
	width: auto;
	padding: 30px;
	margin: auto;
}
* {
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: #15151d;
	font-size: 1em;
	overflow-x: hidden;
}
h3 {
	text-transform: uppercase;
	margin-bottom: 3px;
}

p {
	margin: 0 0 1em 0;
}
a {
	color: #8085e8;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #90ee7e;
}

#nav a.dump {
	padding: 0px;
	margin: 0px;
}

/*
==========
=== Header
==========
*/
#top {
	background-color: #252530;
}
#top .container {
	padding: 0;
}
#top h1 {
	color: #eeeaea;
	font-weight: 100;
	margin: 0;
	font-size: 1.5em;
}
.cell {
	width: 33%;
	display: inline-block;
	vertical-align: middle;
}

.cell:nth-child(4) {
	text-align: right;
	color:#eeeaea;
	font-size: 0.9em;
}

#logo {
	display: block;

}
#logo img {
	max-width: 200px;
	width: 100%;
	margin: 15px;
	margin-left: 33px;
	height: 32px;
}

/* Search bar */
#search-div {
	color: #252530;
	display: block;
	margin-bottom: 20px;
	border: 1px solid #252530;
}

div#search-div i {
	margin: 5px;
	color: #252530;
	font-size: 14px;
}

input#search {
	height: 18px;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.9em;
	background-color: transparent;
	border: none;	
	outline: none;
	color: #252530;
	width:80%;
}

.ui-autocomplete {
	max-height: 500px;
	max-width: 400px;
	overflow-y: auto;
	overflow-x: auto;
}

.ui-menu .ui-menu-item {
	font-size:14px;
	zoom:1;
	font-family: "Courier New", Courier, monospace;
}
.ui-widget-content a {
	color: #222222 /*{fcContent}*/;
}

/*
==============
=== END Header
==============
*/
/*
==========
=== Footer
==========
*/
#footer {
	background-color: #15151d;
	color: #eeeaea;
}
#footer-copy {
	float: left;
	font-size: 14px;
	line-height: 18px;
}
#footer-social {
	float: right;
}
#footer-social a {
	color: #eeeaea;
	font-size: 18px;
	margin-left: 10px;
}
#footer-social a:hover {
	color: #90ee7e;
}
#footer .container {
	padding: 10px;
}
#scrollTop {
	position: fixed;
	bottom: 75px;
	right: 50px;
	background-color: #90ee7e;
	padding: 10px;
	border-radius: 2px;
	color: white;
	display: none;
}
#scrollTop:hover {
	color: black;
}
/*
==============
=== END Footer
==============
*/

#reference-loading {
	margin-top: 300px;
	text-align: center;
}

/*
===========
=== Wrapper
===========
*/
#splashText {
	display: none;
}
.nav-section h3 {
	font-size: 24px;
	margin-top: 0;
}

#wrapper{
	background-color: #d6d1d1;
}
#wrapper .container {
	padding: 0;
}
#wrapper-inner {
	background-color: #ffffff;
	/*border: 1px solid silver;*/
}

.tree a {
	color: #252530;
}

#nav .tree, #nav .tree * {
	font-family: "Courier New", Courier, monospace;
}

#nav .header p {
	font-weight: normal;
	color: #666;
}

#nav h1, 
#details h1,
#details h2 {
	font-weight: 100;
	margin-bottom: 1em;
}

#nav h1, 
#details h2 {
	text-transform: uppercase;
}

#nav {
	min-height: 100%;
	border-right: 1px solid silver;
}

#nav-wrap {
	width: 30%;
	float:left;
	overflow: auto;
}

#nav a,#nav a:visited {
	font-weight: bold;
	padding: 0 2px;
	margin: 1px;
}

.nav-section {
	padding: 30px;
	position: relative;
}
.nav-section:last-child {
	border-bottom: none;
}

#nav .level {
	margin-left: 13px;
	display: none;
}

#nav .level-0 {
	display: block;
}

#nav a.level-0 {
	margin-left: 1em;
}

#nav .menuitem {
	position: relative;
}

#nav .value {
	width: 40%;
	overflow: hidden;
	color: silver;
	position: absolute;
	white-space: nowrap;
}
#nav .value-string, #nav .value-color {
	color: #39A832;
}
#nav .value-number {
	color: #297EA8;
}

a.hilighted {
	background-color: #C5F7BE;
}

#nav .plus {
	display: block;
	position: absolute;
	left: -12px;
	top: 0;
	width: 9px;
	height: 9px;
	font-family: FontAwesome;
	color: gray;

}
#nav .plus:before {
}

#nav .collapsed>.plus:before {
	content: "\f0da";
}

#nav .expanded>.plus:before {
	content: "\f0d7";
}

#nav .dots {
	padding: 0 4px;
}
#nav .expanded>.dots {
	display: none;
}

#nav .dots.loading {
	background: url(../../../../reporting/highcharts%20-%20Copy/api/images/ajax-loader.gif) no-repeat center;
}
#nav .dots.error {
	color: red;
	font-weight: bold;
}

#nav .dots.loading span {
	visibility: hidden;
}

#nav code {
	color:#8085e8;
	font-weight: bold;
}

#nav span.typed {
	margin-left: 15px;
}
#nav .collapsed span.typed {
	margin-left: 0;
}
#nav .collapsed br.typed {
	display: none;
}

#methods-and-properties-toc ul {
	margin-left: 0;
	padding-left: 1em;
}

#options-tree,#global-options-tree,#objects-tree {
	font-size: 0.9em;
}

pre,code {
	font-family: "Courier New", Courier, monospace;
}

#overview {
	margin-left: 420px;
}

#details-wrap {
	float: right;
	width: 70%;
	overflow:auto;
	margin:0px;
	padding:0px;
}

/* Member styling */
.member {
	padding: 30px;
	overflow-y: hidden;
	position: relative;
	border-top: 1px solid silver;
}

.member:first-child {
	color:green;
}

.member.deprecated * {
	color: silver !important;
}

.member.hilighted {
	background-color: #eefdec;
}

.member .title, .member .title a, .member .returnType {
	font-family: "Courier New", Courier, monospace;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 5px;
	display: inline-block;
}

.member .title a{
	text-decoration: underline;
}

.member .default {
	display: none;
}

.member .since {
	float: right;
	font-size: 0.8em;
}

.member .description {
	color: #666;
}
.member .context {
	padding: 1em 0;
}

.description code {
	color: #666;
	font-weight: normal;
}

.section {
	padding-top: 25px;
}

.section .demo, .member .demo {
	font-style: italic;
	margin-top: 1.5em;
	margin-bottom:0.5em;
	margin-left: 1.5em;
}

.section .member .demo {
	margin-left: 0em;
}

.section h1,
.section h2,
.section .section-description {
	padding-left: 25px;
}

.section h1 {
	margin: 0px;
	font-family: "Courier New", Courier, monospace;
}

.section-description {
	margin: 0 0 1em 0;
}

/*gert*/
.menuitem div {
	margin-left: 8px;
}

.tree {
	padding-left: 24px;
}

div.edit {
	float: right
}

/*edit form*/
form#optionAttribute td.inp {
	width: 450px;
}

form#optionAttribute td input {
	width: 100%;
}

form#optionAttribute td textarea {
	width: 100%;
}

form#optionAttribute td input[type="checkbox"] {
	width: 20px;
}

.pencil {
	background-image: url(../../../../reporting/highcharts%20-%20Copy/api/images/edit.png);
}

.remove {
	background-image: url(../../../../reporting/highcharts%20-%20Copy/api/images/delete.gif);
}

.add {
	background-image: url(../../../../reporting/highcharts%20-%20Copy/api/images/add.png);
}

.copy {
	background-image: url(../../../../reporting/highcharts%20-%20Copy/api/images/copy.png);
}

.pencil, .add, .remove, .copy {
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	position: relative;
	width: 10px;
	padding: 8px;
}

.pencil a,.add a,.remove a, .copy a {
	text-decoration: none;
	padding: 5px;
}

.deprecated, .error {
	color: red;
	font-weight: bold;
}

dl#inhMembers dd a,span.returnType {
	margin-left: 3px;
}

/* fix for icons changing containers height, affects updateHeights, javascript function */
#footer-social i:before {  
  line-height: 1.5;
}

@media screen and (max-width: 767px) {
	.nav-section-inner {
		display: none;
	}
	#nav-wrap {
		width: 100%;
	}
	#details-wrap {
		width: 100%;
	}
	.nav-section {
		padding: 0px;
	}
	#search-div{
		margin:30px;
	}
	#wrapper,
	#wrapper-inner,
	#details-wrap {
		height: auto !important;
	}
	.cell {
		width: 48%;
		text-align: center !important;
	}
	.cell:nth-child(1) {
		width: 100%;
	}
	#splashText {
		padding: 30px;
		text-align: center;
	}	
	#splashText.section {
		border: none;
	}
	#splashText img {
		width: 100%;
		max-width: 380px;
	}
	#scrollTop {
		display: block;
	}
	.section {
		padding-top: 0px;
	}
	#logo img {
		margin-left:0px;
		margin-right:0px;
	}
}
@media screen and (max-width: 479px) {
	#footer-copy,
	#footer-social {
		float: none;
		text-align: center;
		padding: 5px 0;
	}
	.cell {
		width: 100%;
	}
	.ui-autocomplete {
		max-height: 300px;
		max-width: 275px;
		overflow-x:auto;
	}
